[submodule "Java"]
	path = Java
	url = https://github.com/msobocin/Java
[submodule "PHP"]
	path = PHP
	url = https://github.com/msobocin/DAW
[submodule "JS"]
	path = JS
	url = https://github.com/msobocin/DAW
